<!DOCTYPE html>
<html>

<head>
  <title>File Upload</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Upload a File</h1>
  <form method="post" action="/" enctype="multipart/form-data">
    <input type="file" id="file-input" name="file-input" required />
    <button>Upload</button>
  </form>
</body>

</html>
